RewriteEngine on 
RewriteRule ^forum-([0-9]+.*)-page-([0-9]+).html$ viewforum.php?id=$1&p=$2 [L] 
RewriteRule ^topic-([0-9]+.*)-page-([0-9]*).html$ viewtopic.php?id=$1&p=$2 [L]
RewriteRule ^topic-([0-9]+)(.*)-new-messages.html viewtopic.php?id=$1&action=new [L] 
RewriteRule ^topic-([0-9]+.*).html#p([0-9]+)$ viewtopic.php?pid=$2 [L] 